.json code {
  font-family: monospace;
  font-size: 12px;
  color: lightblue;
}
.feedback .info::before {
  content: "ℹ️";
  margin-right: 5px;
}
.feedback .error::before {
  content: "❌";
  margin-right: 5px;
}
.feedback .success::before {
  content: "✅";
  margin-right: 5px;
}

div#html-output {
  background-color: white;
  color: black;
  font-family:'Times New Roman', Times, serif;
}

.console {
  font-family:'Courier New', Courier, monospace;
}
.console-message > * {
  margin-left: 10px;
  margin-right: 10px;
}
.console-message > :first-child {
  margin-left: 0px;
}